Django
python-dotenv
psycopg2-binary
djangorestframework
django-filter
djangorestframework-simplejwt
django-cors-headers
whitenoise
celery
django-celery-beat
redis
stripe
boto3
django-storages
django-redis
pymemcache
sendgrid
pytest-django
coverage
flake8
black